body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#simulationCanvas {
    border: 1px solid #fff;
}

#explosion {
    width: 240px;  /* The width of a single frame */
    height: 240px;  /* The height of a single frame */
    background-image: url('explosion.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    display: none;
}
